/*
Estilos del proyecto final CSS3
*/
*{
	margin: 0 auto;
}

body{
	font-family: 'Dancing Script', cursive;
	background: #02010a;
}

header{
	padding-top: 5px;
	background-color: #5B7989;
	color:white;
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	height: 3em;
}

header h1{
	text-align: left;
	text-shadow: 2px 2px 2px #02010A;
	margin-left: 5px;
	display: inline;
}

nav{
	height: 100%;
	padding-top: 10px;
	padding-right: 10px;
	display: inline;
	float: right;
}

#menu-principal a:link, #menu-principal a:visited{
	color: #FFFFFF;
}

#menu-principal a:focus{
	text-decoration-line: none;
}

#imagenes-centrales a, .datos a:visited, .datos a:link, .datos a:focus, .redes a:visited, .redes a:link, .redes a:focus{
	color: #000000;
}

#imagenes-centrales{
	text-align: center;
}

#img-central{
	background-color: #82c3a6;
	width: 100%;
}

#paisajes, #retratos{
	background-color: #D5C75F;
	width: 100%;
}

div img{
	margin: auto;
	padding: 10px;
}

#img-central img{
	display:block; margin:0 auto 0 auto;
  width: 90%;
}

#imagenes-centrales{
	display: flex;
	border: black 1px solid;
}

#imagenes-centrales img{
	display:block; margin:0 auto 0 auto;
	width: 90%;

}

/*Estilos para los paisajes */
#paisajes{
	display: flex;
	flex-flow: row wrap;
}

#paisajes{
	margin: 0 auto;
	width: 100%;
}

div [class*="imagen"]{
	min-width: 200px;
	flex: 1 3 30%;
}

#paisajes img{
	width: 90%;
	display:block; margin:0 auto 0 auto;
}

#paisajes img{
	width: 90%;
	display:block; margin:0 auto 0 auto;
}

/*Estilos para retratos*/
#retratos{
	display: flex;
	flex-flow: row wrap;
	background-color: #D5C75F;
}

#retratos{
	margin: 0 auto;
	width: 100%;
}

div [class*="imagen"]{
	min-width: 200px;
	flex: 1 3 30%;
}

#retratos img{
	width: 90%;
	display:block; margin:0 auto 0 auto;
}

/*Paisajes y Retratos */
.imagen1{
	-webkit-filter: blur(30px);
	filter: blur(30px);
}

.imagen3{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}

.imagen2, .imagen4, .imagen6{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* Fin de los estilos para paisajes*/

#contenido
{
	box-sizing: border-box;
  float:center;
	height: 100%;
}


footer {
	clear: both;
  width: 100%;
  background-color: #C6D5C5;
	border-radius: 0px 0px 10px 10px;
}

#contenido
{
	width: 90%;
	margin: 0 auto;
}

#img-izqu
{
background-color: #D5C75F;
width: 50%;
}

#img-der
{
background-color: #D5C75F;
width: 50%;
}

#img-izqu img{
	transition-duration: 2s, 4s;
}

#img-izqu img:hover{
	transform: rotate(10deg);
}

#img-der img{
	transition-duration: 2s, 4s;
}

#img-der img:hover{
	transform: translate(5px,-20px);
}

.pie{
	display: flex;
	flex-flow: row wrap;
}

.datos, .terminos, .redes, .derechos{
	max-width: 25%;
}

.redes img{
	width: 15%;
}

/*Animación Slidein #Contenido*/

#contenido{
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 150%;
    width: 90%
  }
  to {
    margin-top: -5%;
    width: 90%;
		from{
			margin-top: -5%;
			width: 90%;
		}
		to{
			margin-top: 0%;
			width: 90%;
		}
  }
}

/*Fin de la animacion*/

@media screen and (max-width:900px) {
  #contenido{
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width:768px) {
  #contenido{
    width: 90%;
    margin: 0 auto;
  }
  #encabezado{
    width: 100%;
  }
  #img-central, #paisajes, #retratos{
    width: 100%;
  }
	#imagenes-centrales{
	display: block;
	}
  #img-izqu{
    width: 100%;
  }
  #img-der{
    width: 100%;
  }
	#paisajes{
		display: block;
	}
	#retratos{
		display: block;
	}
.pie{
		display: block;
	}
	.datos, .terminos, .redes, .derechos{
		max-width: 100%;
		text-align: center;
	}

	header{
		height: 7em;
	}
	header h1{
		display: block;
		text-align: center;
	}
	nav{
		display: block;
		float: none;
		text-align: center;
	}
}
